body {
  max-width: 380px;
}

header{
  border-top: #7DB96F solid 8px;
  background-image: url("../img/fruits-background.webp")
}

header h1{
  font-family: 'Sriracha', cursive;
}

header .title{
  margin: 30px 30px;
  text-align: center;
  border: solid whitesmoke;
  background-color: whitesmoke;
}

main {
  max-width: 380px;
  background-color: #7DB96F;
}