* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
}

header{
  border-top: #7DB96F solid 8px;
  background-image: url("../img/fruits-background.webp");
  padding: 20px 20px 50px;
}

header h1{
  font-family: 'Sriracha', cursive;
  color: #7DB96F;
  font-size: 45px;
}

header .title{
  text-align: center;
  background-color: #ffffffdd;
  padding: 10px;
  margin-bottom: 20px;
}

.title p {
  color: #7DB96F;
}

.button a {
  border: #7DB96F solid;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  background-color: #7DB96F;
  text-decoration: none;
  color: white;
}

.button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}

main p {
  font-family: 'Quattrocento', serif;
  text-align: center;
  margin-bottom: 35px;
}

main {
  max-width: 380px;
}

main .menu-products{
  padding: 20px;
  background-color: #7DB96F;
}

.product-banana {
  background-color: #FCF7D6;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.product-banana h2 {
  font-family: 'Sriracha', cursive;
}

.product-banana p {
  font-family: 'Quattrocento', serif;
}

.product-banana a {
  font-family: 'Maven Pro', sans-serif;
  text-decoration: underline;
  color: #000000;
}

.product-kiwi {
  background-color: #D0F1AE;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.product-kiwi p {
  font-family: 'Quattrocento', serif;
}

.product-kiwi h2 {
  font-family: 'Sriracha', cursive;
}

.product-kiwi a {
  font-family: 'Maven Pro', sans-serif;
  text-decoration: underline;
  color: #000000;
}

.product-coffee {
  background-color: #CDC4B0;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.product-coffee p {
  font-family: 'Quattrocento', serif;
}

.product-coffee h2 {
  font-family: 'Sriracha', cursive;
}

.product-coffee a {
  font-family: 'Maven Pro', sans-serif;
  text-decoration: underline;
  color: #000000;
}

.product-strawberry {
  background-color: #E2A2B1;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.product-strawberry p {
  font-family: 'Quattrocento', serif;
}

.product-strawberry h2 {
  font-family: 'Sriracha', cursive;
}

.product-strawberry a {
  font-family: 'Maven Pro', sans-serif;
  text-decoration: underline;
  color: #000000;
}

.fruit-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fruit-bar img {
  max-width: 27px;
}

.card {
  padding: 90px 55px;
}

footer {
  padding: 45px 55px;
}

footer h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}

footer p {
  font-size: 12px;
  text-align: center;
}